<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="com.aptana.cloudconnect.ui.internal.handlers.DeployHandler"
            description="Deploy Project using Cloudconnect Web App"
            id="com.aptana.cloudconnect.ui.command.Deploy"
            name="Deploy Project...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.cloudconnect.ui.command.Deploy"
            icon="icons/cloud.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.aptana.cloudconnect.ui.toolbar">
            <command
                  commandId="com.aptana.cloudconnect.ui.command.Deploy"
                  label="Deploy Project..."
                  style="push"
                  tooltip="Deploy Project using Cloudconnect Web App">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.aptana.cloudconnect.ui.objectContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               icon="icons/cloud.png"
               id="com.aptana.cloudconnect.ui.accounts.menu"
               label="Deploy Project">
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <menu
               id="com.aptana.cloudconnect.ui.aptanaaccount.menu"
               label="Aptana Account"
               path="com.aptana.cloudconnect.ui.accounts.menu/additions">
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <menu
               id="com.aptana.cloudconnect.ui.paulsaccount.menu"
               label="Paul&apos;s Personal Account"
               path="com.aptana.cloudconnect.ui.accounts.menu/additions">
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               class="com.aptana.cloudconnect.ui.internal.actions.DeployProjectAction"
               enablesFor="1"
               icon="icons/cloud.png"
               id="com.aptana.cloudconnect.ui.DeployProjectToDevelopmentActionPaul"
               label="Development"
               menubarPath="com.aptana.cloudconnect.ui.accounts.menu/com.aptana.cloudconnect.ui.paulsaccount.menu/additions"
               tooltip="Deploy Project using Cloudconnect Web App">
         </action>
         <action
               class="com.aptana.cloudconnect.ui.internal.actions.DeployProjectAction"
               enablesFor="1"
               icon="icons/cloud.png"
               id="com.aptana.cloudconnect.ui.DeployProjectToStagingActionPaul"
               label="Staging"
               menubarPath="com.aptana.cloudconnect.ui.accounts.menu/com.aptana.cloudconnect.ui.paulsaccount.menu/additions"
               tooltip="Deploy Project using Cloudconnect Web App">
         </action>
         <action
               class="com.aptana.cloudconnect.ui.internal.actions.DeployProjectAction"
               enablesFor="1"
               icon="icons/cloud.png"
               id="com.aptana.cloudconnect.ui.DeployProjectToProductionActionPaul"
               label="Production"
               menubarPath="com.aptana.cloudconnect.ui.accounts.menu/com.aptana.cloudconnect.ui.paulsaccount.menu/additions"
               tooltip="Deploy Project using Cloudconnect Web App">
         </action>
         <action
               class="com.aptana.cloudconnect.ui.internal.actions.DeployProjectAction"
               enablesFor="1"
               icon="icons/cloud.png"
               id="com.aptana.cloudconnect.ui.DeployProjectToStagingActionAptana"
               label="Staging"
               menubarPath="com.aptana.cloudconnect.ui.accounts.menu/com.aptana.cloudconnect.ui.aptanaaccount.menu/additions"
               tooltip="Deploy Project using Cloudconnect Web App">
         </action>
         <action
               class="com.aptana.cloudconnect.ui.internal.actions.DeployProjectAction"
               enablesFor="1"
               icon="icons/cloud.png"
               id="com.aptana.cloudconnect.ui.DeployProjectToProductionActionAptana"
               label="Production"
               menubarPath="com.aptana.cloudconnect.ui.accounts.menu/com.aptana.cloudconnect.ui.aptanaaccount.menu/additions"
               tooltip="Deploy Project using Cloudconnect Web App">
         </action>
      </objectContribution>
   </extension>

</plugin>
